a:-webkit-any-link {
    color: rgb(82, 86, 94);
    cursor: pointer;
    text-decoration:none;
}

a:-webkit-any-link.btn-primary {
    color: white;
    cursor: pointer;
    text-decoration:none;
}

#details {
    text-align: left;
    color: black;
    font-size: small;
}

.btn-primary {
    color: white;
    background-color: rgb(3,126,243);
    border-color: rgb(3,126,243);
}
